- var page_Title = 'Projects Dashboard';
- var apex                  = true;
- var theme_customizer      = true;
- var animate               = true;
- var sidebar               = true;
- var select_dt             = true;
- var datatable             = true;
- var page_datatable        = true;
- var swiper                = true;
- var slick                 = true;
- var header_slider         = true;
- var counter               = true;
- var tooltip               = true;
- var dashboard_12          = true;
- var scrollbar             = true;
- var height_equal          = true;

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid         
            .page-title
              .row
                .col-sm-6
                  h3
                    | Projects Dashboard
                .col-sm-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Dashboard
                    li.breadcrumb-item.active Projects Dashboard
          // Container-fluid starts
          .container-fluid.dashboard-12
            .row 
                .col-xxl-6.box-col-12
                    .row.small-stats 
                        .col-md-4.col-sm-6
                          .card.widget-hover
                            .card-body
                              .common-space
                                div 
                                  span.c-o-light.f-w-500 Pending
                                  h4.counter(data-target='204') 0
                                  span.font-success.f-12.f-w-500
                                    i.icon-arrow-up
                                    span +9.4%
                                .project-state.bg-light-warning
                                  svg.fill-warning
                                    use(href='../assets/svg/icon-sprite.svg#pending-project')
                        .col-md-4.col-sm-6
                          .card.widget-hover
                            .card-body
                              .common-space
                                div 
                                  span.c-o-light.f-w-500 Complete
                                  h4.counter(data-target='106') 0
                                  span.font-danger.f-12.f-w-500
                                    i.icon-arrow-down
                                    span -1.4%
                                .project-state.bg-light-secondary
                                  svg.fill-secondary
                                    use(href='../assets/svg/icon-sprite.svg#complete-project')
                        .col-md-4.col-12
                          .card.widget-hover
                            .card-body
                              .common-space
                                div 
                                  span.c-o-light.f-w-500 Total
                                  h4.counter(data-target='310') 0
                                  span.font-success.f-12.f-w-500
                                    i.icon-arrow-up
                                    span +9.4%
                                .project-state.bg-light-primary
                                  svg.fill-primary
                                    use(href='../assets/svg/icon-sprite.svg#total-project')
                        .col-12
                          .card.tasks-card 
                            .card-header.card-no-border
                              .header-top 
                                  h5 Priority Task
                                  .arrow-group
                                    .prev
                                      i.fa-solid.fa-arrow-right-long.fa-flip-horizontal
                                    .next
                                      i.fa-solid.fa-arrow-right-long
                                  .card-header-right-icon
                                    .dropdown.icon-dropdown
                                      button#priorityTask.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                        i.icon-more-alt
                                      .dropdown-menu.dropdown-menu-end(aria-labelledby='priorityTask')
                                        a.dropdown-item(href='#!') Today
                                        a.dropdown-item(href='#!') Tomorrow
                                        a.dropdown-item(href='#!') Yesterday
                            .card-body.pt-0 
                              .task-box
                                .swiper.recent-slider
                                  .swiper-wrapper
                                    .swiper-slide   
                                      .task-box
                                        .common-space
                                          h6 Review And Edit Project Documentation
                                          span.badge.badge-b-danger.txt-danger High Priority
                                        p.project-link On 
                                          a(href="https://admin.pixelstrap.net/yuri/template/landing-page.html" target="_blank") Yuri
                                          |  Project
                                        .project-member
                                          p 50% Done
                                          ul.customers
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Daxton Creed')
                                              img.common-circle(src="../assets/images/dashboard-12/user/11.png", alt="user")
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Sarah Wilson')
                                              img.common-circle(src="../assets/images/dashboard-12/user/12.png", alt="user")
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Marigold Luna')
                                              img.common-circle(src="../assets/images/dashboard-11/user/1.jpg", alt="user")
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Charles Rodriguez')
                                              img.common-circle(src="../assets/images/dashboard-12/user/13.png", alt="user")
                                        .progress(role='progressbar')
                                          .progress-bar.bg-primary(style='width: 50%')
                                        p Due: Jan 08th, 2024
                                    .swiper-slide 
                                      .task-box
                                        .common-space
                                          h6 Create Landing Banner & Preview Banner
                                          span.badge.badge-b-warning.txt-warning Med Priority
                                        p.project-link On 
                                          a(href="https://themes.pixelstrap.com/fastkart/" target="_blank") Fastkart
                                          |  Project
                                        .project-member
                                          p 40% Done
                                          ul.customers
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Caryl Kauth')
                                              img.common-circle(src="../assets/images/dashboard-12/user/14.png", alt="user")
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Thomas Jones')
                                              img.common-circle(src="../assets/images/dashboard-11/user/1.jpg", alt="user")
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Gray Curran')
                                              img.common-circle(src="../assets/images/dashboard-11/user/9.jpg", alt="user")
                                        .progress(role='progressbar')
                                          .progress-bar.bg-success(style='width: 40%')
                                        p Due: Apr 15th, 2024
                                    .swiper-slide 
                                      .task-box
                                        .common-space
                                          h6 Create Social & POS Dashboard
                                          span.badge.badge-b-danger.txt-danger High Priority
                                        p.project-link On 
                                          a(href="https://admin.pixelstrap.net/riho/template/landing-page.html" target="_blank") Riho
                                          |  Project
                                        .project-member
                                          p 70% Done
                                          ul.customers
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Caleb Rivera')
                                              img.common-circle(src="../assets/images/dashboard/user/12.jpg", alt="user")
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Jenny Wilson')
                                              img.common-circle(src="../assets/images/dashboard/user/2.jpg", alt="user")
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Wes Humphrey')
                                              img.common-circle(src="../assets/images/dashboard-12/user/2.png", alt="user")
                                        .progress(role='progressbar')
                                          .progress-bar.bg-secondary(style='width: 70%')
                                        p Due: Feb 02th, 2024
                                    .swiper-slide 
                                      .task-box
                                        .common-space
                                          h6 Create Dashboard & Mail Box Pages
                                          span.badge.badge-b-warning.txt-warning Med Priority
                                        p.project-link On 
                                          a(href="https://admin.pixelstrap.net/mofi/template/landing-page.html" target="_blank") Mofi
                                          |  Project
                                        .project-member
                                          p 45% Done
                                          ul.customers 
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Joseph Garcia')
                                              img.common-circle(src="../assets/images/avtar/16.jpg", alt="user")
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Elizabeth Davis')
                                              img.common-circle(src="../assets/images/avtar/3.jpg", alt="user")
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Karen Moore') 
                                              img.common-circle(src="../assets/images/dashboard-11/user/4.jpg", alt="user")
                                            li(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Robert Williams')
                                              img.common-circle(src="../assets/images/dashboard-12/user/1.png", alt="user")
                                        .progress(role='progressbar')
                                          .progress-bar.bg-warning(style='width: 45%')
                                        p Due: Nov 18th, 2024  
                .col-xxl-3.col-xl-4.col-md-6.ord-xl-1.box-ord-1.box-col-4
                  .card.height-equal 
                    .card-header.card-no-border 
                      .header-top
                        h5 Task Statistics
                        .card-header-right-icon
                          .dropdown.icon-dropdown
                            button#taskStat.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                              i.icon-more-alt
                            .dropdown-menu.dropdown-menu-end(aria-labelledby='taskStat')
                              a.dropdown-item(href='#!') This Month
                              a.dropdown-item(href='#!') Previous Month
                              a.dropdown-item(href='#!') Last 3 Months
                              a.dropdown-item(href='#!') Last 6 Months
                    .card-body.pt-0 
                      .task-statistics
                        #task-statistics
                .col-xxl-3.col-xl-4.col-md-6.ord-xl-2.box-ord-2.box-col-4
                  .card.height-equal 
                    .card-header.card-no-border 
                      .header-top
                        h5 Today's Task
                        .card-header-right-icon
                          .dropdown.icon-dropdown
                            button#todaysTask.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                              i.icon-more-alt
                            .dropdown-menu.dropdown-menu-end(aria-labelledby='todaysTask')
                              a.dropdown-item(href='#!') This Month
                              a.dropdown-item(href='#!') Previous Month
                              a.dropdown-item(href='#!') Last 3 Months
                              a.dropdown-item(href='#!') Last 6 Months
                    .card-body.pt-0 
                      ul.task-card 
                        li.common-space
                          div 
                            span 01
                            span.text-truncate Finalize project proposal
                          svg
                            use(href='../assets/svg/icon-sprite.svg#stroke-task-arrow')
                        li.common-space
                          div 
                            span 02
                            span.text-truncate Create project timeline
                          svg.fill-primary
                            use(href='../assets/svg/icon-sprite.svg#fill-task-arrow')
                        li.common-space
                          div 
                            span 03
                            span.text-truncate Develop initial prototype
                          svg.fill-primary
                            use(href='../assets/svg/icon-sprite.svg#fill-task-arrow')
                        li.common-space
                          div 
                            span 04
                            span.text-truncate Set up project meeting
                          svg
                            use(href='../assets/svg/icon-sprite.svg#stroke-task-arrow')
                        li.common-space
                          div 
                            span 05
                            span.text-truncate Conduct user research
                          svg
                            use(href='../assets/svg/icon-sprite.svg#stroke-task-arrow')
                        li.common-space
                          div 
                            span 06
                            span.text-truncate Review and edit project
                          svg
                            use(href='../assets/svg/icon-sprite.svg#stroke-task-arrow')
                .col-xxl-7.box-col-12 
                  .card.heading-space
                      .card-header.card-no-border
                        .header-top
                          h5 All Projects
                          .card-header-right-icon
                            .dropdown.icon-dropdown
                              button#allProjects.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                i.icon-more-alt
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='allProjects')
                                a.dropdown-item(href='#!') This Month
                                a.dropdown-item(href='#!') Previous Month
                                a.dropdown-item(href='#!') Last 3 Months
                                a.dropdown-item(href='#!') Last 6 Months
                      .card-body.px-0.pt-0.all-project-table
                        .recent-table.table-responsive.custom-scrollbar
                          table.table#all-project-table
                            thead 
                              tr
                                th  
                                th Id
                                th Manager Name
                                th Project Name
                                th Start Date
                                th End Date
                                th Priority
                                th Status
                            tbody 
                              tr.inbox-data
                                td 
                                td 
                                  a.f-w-500(href="project-details.html") #8543
                                td
                                  .common-flex.align-items-center
                                    img.img-fluid.rounded-circle(src='../assets/images/dashboard-12/user/1.png',alt='user')
                                    a(href="#!") Wade
                                td Project Alpha
                                td 20 Jun,2024
                                td 25 Jun 2024
                                td High
                                td  
                                  span.badge.badge-light-warning In Progress
                              tr.inbox-data
                                td 
                                td 
                                  a.f-w-500(href="project-details.html") #9542
                                td
                                  .common-flex.align-items-center
                                    img.img-fluid.rounded-circle(src='../assets/images/dashboard-12/user/2.png',alt='user')
                                    a(href="#!") Otis
                                td Project Beta
                                td 12 Jul 2024
                                td 19 Jul 2024
                                td Medium
                                td  
                                  span.badge.badge-light-danger Not Started
                              tr.inbox-data
                                td 
                                td 
                                  a.f-w-500(href="project-details.html") #3159
                                td
                                  .common-flex.align-items-center
                                    img.img-fluid.rounded-circle(src='../assets/images/dashboard-12/user/3.png',alt='user')
                                    a(href="#!") Jenny
                                td Project Gamma
                                td 16 Aug 2024
                                td 18 Aug 2024
                                td High
                                td  
                                  span.badge.badge-light-warning In Progress
                              tr.inbox-data
                                td 
                                td 
                                  a.f-w-500(href="project-details.html") #3159
                                td
                                  .common-flex.align-items-center
                                    img.img-fluid.rounded-circle(src='../assets/images/dashboard-12/user/4.png',alt='user')
                                    a(href="#!") Guy
                                td Project Delta
                                td 01 Sep 2024
                                td 23 Sep 2024
                                td Low
                                td  
                                  span.badge.badge-light-success Completed
                              tr.inbox-data
                                td 
                                td 
                                  a.f-w-500(href="project-details.html") #3159
                                td
                                  .common-flex.align-items-center
                                    img.img-fluid.rounded-circle(src='../assets/images/dashboard-12/user/5.png',alt='user')
                                    a(href="#!") Jacob
                                td Project Theta
                                td 11 Aug 2024
                                td 16 Aug 2024
                                td Medium
                                td  
                                  span.badge.badge-light-warning In Progress
                              tr.inbox-data
                                td 
                                td 
                                  a.f-w-500(href="project-details.html") #5897
                                td
                                  .common-flex.align-items-center
                                    img.img-fluid.rounded-circle(src='../assets/images/dashboard-11/user/2.jpg',alt='user')
                                    a(href="#!") Zayne
                                td 	Project Gamma
                                td 01 Nov 2024
                                td 10 Nov 2024
                                td Medium
                                td  
                                  span.badge.badge-light-warning In Progress
                              tr.inbox-data
                                td 
                                td 
                                  a.f-w-500(href="project-details.html") #4545
                                td
                                  .common-flex.align-items-center
                                    img.img-fluid.rounded-circle(src='../assets/images/dashboard-11/user/8.jpg',alt='user')
                                    a(href="#!") Nova
                                td 	Project Beta
                                td 12 Feb 2024
                                td 14 Feb 2024
                                td Low
                                td  
                                  span.badge.badge-light-success Completed
                              tr.inbox-data
                                td 
                                td 
                                  a.f-w-500(href="project-details.html") #1224
                                td
                                  .common-flex.align-items-center
                                    img.img-fluid.rounded-circle(src='../assets/images/dashboard-11/user/10.jpg',alt='user')
                                    a(href="#!") Mario
                                td Project Delta
                                td 19 Apr 2024
                                td 22 Apr 2024
                                td Medium
                                td  
                                  span.badge.badge-light-success Completed
                              tr.inbox-data
                                td 
                                td 
                                  a.f-w-500(href="project-details.html") #5004
                                td
                                  .common-flex.align-items-center
                                    img.img-fluid.rounded-circle(src='../assets/images/dashboard/user/1.jpg',alt='user')
                                    a(href="#!") Cecilia
                                td Project Gamma
                                td 05 Mar 2024
                                td 08 Mar 2024
                                td Low
                                td  
                                  span.badge.badge-light-warning In Progress
                              tr.inbox-data
                                td 
                                td 
                                  a.f-w-500(href="project-details.html") #5004
                                td
                                  .common-flex.align-items-center
                                    img.img-fluid.rounded-circle(src='../assets/images/dashboard/user/11.jpg',alt='user')
                                    a(href="#!") Aaley
                                td Project Alpha
                                td 08 Aug 2024
                                td 25 Aug 2024
                                td Low
                                td  
                                  span.badge.badge-light-danger Not Started
                .col-xxl-5.col-md-6.ord-xl-5.box-ord-5.box-col-6
                  .card 
                    .card-header.card-no-border 
                      .header-top
                        h5 Estimated vs. Actual Hours by Project
                        .card-header-right-icon
                          .dropdown.icon-dropdown
                            button#estimatedProject.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                              i.icon-more-alt
                            .dropdown-menu.dropdown-menu-end(aria-labelledby='estimatedProject')
                              a.dropdown-item(href='#!') This Month
                              a.dropdown-item(href='#!') Previous Month
                              a.dropdown-item(href='#!') Last 3 Months
                              a.dropdown-item(href='#!') Last 6 Months
                    .card-body.pt-0 
                      .estimated-project
                        #estimated-project
                .col-xxl-4.col-md-6.ord-xl-4.box-ord-4.box-col-6
                  .card
                      .card-header.card-no-border
                        .header-top
                          h5 Team Performance
                          .card-header-right-icon
                            .dropdown.icon-dropdown
                              button#teamPerformance.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                i.icon-more-alt
                              .dropdown-menu.dropdown-menu-end(aria-labelledby='teamPerformance')
                                a.dropdown-item(href='#!') This Month
                                a.dropdown-item(href='#!') Previous Month
                                a.dropdown-item(href='#!') Last 3 Months
                                a.dropdown-item(href='#!') Last 6 Months
                      .card-body.px-0.pt-0.team-performance-table
                        .recent-table.table-responsive.custom-scrollbar
                          table.table#team-performance-table
                            thead 
                              tr
                                th Team Member
                                th Assigned
                                th Completed
                                th Rate
                            tbody 
                              tr.inbox-data
                                td
                                  a(href="project-list.html").f-w-500 Jagger Padilla
                                td 50
                                td 45
                                td 90%
                              tr.inbox-data
                                td
                                  a(href="project-list.html").f-w-500 Lea Daniel
                                td 40
                                td 38
                                td 95%
                              tr.inbox-data
                                td
                                  a(href="project-list.html").f-w-500 Collin Avalos
                                td 65
                                td 60
                                td 91%
                              tr.inbox-data
                                td
                                  a(href="project-list.html").f-w-500 Kairi Wall
                                td 45
                                td 26
                                td 70%
                              tr.inbox-data
                                td
                                  a(href="project-list.html").f-w-500 Ahmed Bryant
                                td 29
                                td 22
                                td 86%
                              tr.inbox-data
                                td
                                  a(href="project-list.html").f-w-500 Laurel Floyd
                                td 14
                                td 10
                                td 92%
                              tr.inbox-data
                                td
                                  a(href="project-list.html").f-w-500 Khari Wells
                                td 45
                                td 25
                                td 88%
                              tr.inbox-data
                                td
                                  a(href="project-list.html").f-w-500 Evan Cobb
                                td 50
                                td 30
                                td 94%
                              tr.inbox-data
                                td
                                  a(href="project-list.html").f-w-500 Royal Tran
                                td 78
                                td 55
                                td 74%
                              tr.inbox-data
                                td
                                  a(href="project-list.html").f-w-500 Avery Bell
                                td 15
                                td 08
                                td 65%
                .col-xl-4.col-md-5.ord-xl-3.box-ord-3.box-col-4
                    .row.main-expenses 
                        .col-md-12.col-sm-6
                          .card
                            .card-header.card-no-border
                              .header-top
                                h5 Monthly Expenses
                                .card-header-right-icon
                                  .dropdown.icon-dropdown
                                    button#monthlyExpense.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                      i.icon-more-alt
                                    .dropdown-menu.dropdown-menu-end(aria-labelledby='monthlyExpense')
                                      a.dropdown-item(href='#!') This Month
                                      a.dropdown-item(href='#!') Previous Month
                                      a.dropdown-item(href='#!') Last 3 Months
                                      a.dropdown-item(href='#!') Last 6 Months
                            .card-body
                              .row 
                                .col-xxl-6.box-col-12 
                                  h6 
                                    | $ 
                                    span.counter(data-target='5476000') 0
                                  span.font-danger
                                    i.me-1(data-feather="trending-down")
                                    | 4%
                                .col-xxl-6.box-col-12 
                                  .monthly-expense-wrapper
                                    #monthly-expense
                        .col-md-12.col-sm-6
                          .card
                            .card-header.card-no-border
                              .header-top
                                h5 Yearly Expenses
                                .card-header-right-icon
                                  .dropdown.icon-dropdown
                                    button#yearlyExpense.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                                      i.icon-more-alt
                                    .dropdown-menu.dropdown-menu-end(aria-labelledby='yearlyExpense')
                                      a.dropdown-item(href='#!') This Month
                                      a.dropdown-item(href='#!') Previous Month
                                      a.dropdown-item(href='#!') Last 3 Months
                                      a.dropdown-item(href='#!') Last 6 Months
                            .card-body
                              .row 
                                .col-xxl-6.box-col-12 
                                  h6 
                                    | $ 
                                    span.counter(data-target='6589120') 0
                                  span.font-success
                                    i.me-1(data-feather="trending-up")
                                    | 8%
                                .col-xxl-6.box-col-12 
                                  .yearly-expense-wrapper
                                    #yearly-expense
                .col-xxl-4.col-md-7.ord-xl-6.box-ord-6.box-col-6
                  .card
                    .card-header.card-no-border
                      .header-top
                        h5 Upcoming Deadlines
                        .card-header-right-icon
                          .dropdown.icon-dropdown
                            button#upcomingDeadline.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                              i.icon-more-alt
                            .dropdown-menu.dropdown-menu-end(aria-labelledby='upcomingDeadline')
                              a.dropdown-item(href='#!') This Month
                              a.dropdown-item(href='#!') Previous Month
                              a.dropdown-item(href='#!') Last 3 Months
                              a.dropdown-item(href='#!') Last 6 Months
                    .card-body.px-0.pt-0.upcoming-datatable
                      .recent-table.table-responsive.custom-scrollbar
                        table.table#upcoming-datatable
                          thead 
                            tr
                              th  
                              th Employee
                              th Task
                              th Deadline
                          tbody 
                            tr.inbox-data
                              td 
                              td
                                a(href="task.html").f-w-500 Roma Chase
                              td
                                span Define project scope
                              td 10 Jun 2024

                            tr.inbox-data
                              td 
                              td
                                a(href="task.html").f-w-500 Krish Hart
                              td
                                span Gather requirements
                              td 24 Jul 2024
                            tr.inbox-data
                              td 
                              td
                                a(href="task.html").f-w-500 Alex Powell
                              td
                                span Develop project plan
                              td 15 Aug 2024
                            tr.inbox-data
                              td 
                              td
                                a(href="task.html").f-w-500 Carl Gates
                              td
                                span Design UI mockups
                              td 29 Sep 2024
                            tr.inbox-data
                              td 
                              td
                                a(href="task.html").f-w-500 Holly Fraz
                              td
                                span Conduct user testing
                              td 31 Jun 2024
                            tr.inbox-data
                              td 
                              td
                                a(href="task.html").f-w-500 Leonel Kirby
                              td
                                span Develop admin theme
                              td 12 Feb 2024
                            tr.inbox-data
                              td 
                              td
                                a(href="task.html").f-w-500 Mary Arroyo
                              td
                                span Develop JS theme
                              td 27 Oct 2024
                            tr.inbox-data
                              td 
                              td
                                a(href="task.html").f-w-500 Nia Duncan
                              td
                                span Testing yuri theme
                              td 15 Sep 2024
                            tr.inbox-data
                              td 
                              td
                                a(href="task.html").f-w-500 Lan Austin
                              td
                                span Testing riho theme
                              td 10 Apr 2024
                            tr.inbox-data
                              td 
                              td
                                a(href="task.html").f-w-500 Seven Cobb
                              td
                                span Webflow for yuri
                              td 16 Jan 2024
                .col-xxl-6.col-xl-5.ord-xl-7.box-ord-7.box-col-6
                  .card.sales-report
                    .card-header.card-no-border
                      .header-top 
                        h5 Projects Analysis
                        .card-header-right-icon
                          .dropdown.icon-dropdown
                            button#projectAnalysis.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                              i.icon-more-alt
                            .dropdown-menu.dropdown-menu-end(aria-labelledby='projectAnalysis')
                              a.dropdown-item(href='#!') Today
                              a.dropdown-item(href='#!') Tomorrow
                              a.dropdown-item(href='#!') Yesterday
                    .card-body.pt-0
                      ul.balance-data 
                        li
                          span.circle.bg-primary
                          span.c-light.ms-1 Project
                        li
                          span.circle.bg-warning 
                          span.c-light.ms-1 Task
                        li
                          span.circle.bg-secondary
                          span.c-light.ms-1 Earnings
                      #project-analysis
                .col-xxl-6.ord-xl-8.box-ord-8.box-col-12
                  .card.heading-space
                    .card-header.card-no-border
                      .header-top
                        h5 Recent Activity
                        .card-header-right-icon
                          .dropdown.icon-dropdown
                            button#recentActivity.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                              i.icon-more-alt
                            .dropdown-menu.dropdown-menu-end(aria-labelledby='recentActivity')
                              a.dropdown-item(href='#!') This Month
                              a.dropdown-item(href='#!') Previous Month
                              a.dropdown-item(href='#!') Last 3 Months
                              a.dropdown-item(href='#!') Last 6 Months
                    .card-body.px-0.pt-0.recent-activity-table
                      .recent-table.table-responsive.custom-scrollbar
                        table.table#recent-activity-table
                          thead 
                            tr
                              th  
                              th Activity Description
                              th Project
                              th Performed By
                              th Date
                          tbody 
                            tr.inbox-data
                              td 
                              td 
                                a(href="project-details.html" target="_blank") Completed Project Definition
                              td Project Alpha
                              td Eleanor Pena
                              td 01 Jun 2024
                            tr.inbox-data
                              td 
                              td 
                                a(href="project-details.html" target="_blank") Conducted user testing
                              td Project Beta
                              td Arlene McCoy
                              td 24 Jul 2024
                            tr.inbox-data
                              td 
                              td 
                                a(href="project-details.html" target="_blank") Submitted initial design mockups
                              td Project Delta
                              td Jerome Bell
                              td 15 Aug 2024
                            tr.inbox-data
                              td 
                              td 
                                a(href="project-details.html" target="_blank") Held kickoff meeting
                              td Project Delta
                              td Theresa Webb
                              td 29 Sep 2024
                            tr.inbox-data
                              td 
                              td 
                                a(href="project-details.html" target="_blank") Collected client feedback
                              td Project Alpha
                              td Darrell Steward
                              td 31 Jun 2024
                            tr.inbox-data
                              td 
                              td 
                                a(href="project-details.html" target="_blank") Login from IP 192.168.xx.xx
                              td Login
                              td Rey Spears
                              td 14 Feb 2024
                            tr.inbox-data
                              td 
                              td 
                                a(href="project-details.html" target="_blank") Two-factor authentication
                              td Auth Setup 
                              td Zoya Little
                              td 15 Sep 2024
                            tr.inbox-data
                              td 
                              td 
                                a(href="project-details.html" target="_blank") Client meetings
                              td Manage API
                              td Navy West
                              td 28 Nov 2024
                            tr.inbox-data
                              td 
                              td 
                                a(href="project-details.html" target="_blank") Clone react project
                              td State Manage
                              td Levi Pope
                              td 28 Feb 2024
                            tr.inbox-data
                              td 
                              td 
                                a(href="project-details.html" target="_blank") Clone yuri project
                              td Admin Theme
                              td Nyomi Gray
                              td 19 Nov 2024
          // Container-fluid Ends
        include ../../components/footer        
    include ../../components/footer-files