- var page_Title = 'Cards View';
- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var scrollbar             = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-sm-6
                  h3
                    | Cards View
                .col-sm-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Jobs
                    li.breadcrumb-item.active  Cards View
          // Container-fluid starts
          .container-fluid.card-view-wrapper
            .row
              .col-xl-3.xl-40.box-col-12
                .md-sidebar
                  a.btn.btn-primary.email-aside-toggle.md-sidebar-toggle Job filter
                  .md-sidebar-aside.job-sidebar.custom-scrollbar
                    .default-according.style-1.faq-accordion.job-accordion
                      #accordionExample.accordion
                        .card
                          #headingOne.card-header
                            h2.mb-0
                              button.btn.btn-link.btn-block.text-start(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                | Filter
                          #collapseOne.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                            .card-body.filter-cards-view.animate-chk
                              .job-filter.mb-2
                                .faq-form
                                  input.form-control(type='text', placeholder='Search..')
                                  i.search-icon(data-feather='search')
                              .job-filter
                                .faq-form
                                  input.form-control(type='text', placeholder='location..')
                                  i.search-icon(data-feather='map-pin')
                              .checkbox-animated
                                .form-check
                                  input#chk-ani.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani')
                                    span Full-time
                                    span.number (8688)
                                .form-check
                                  input#chk-ani1.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani1')
                                    span Contract
                                    span.number (503)
                                .form-check
                                  input#chk-ani2.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani2')
                                    span Part-time
                                    span.number (288)
                                .form-check
                                  input#chk-ani3.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani3')
                                    span Internship
                                    span.number (236)
                                .form-check
                                  input#chk-ani4.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani4')
                                    span Temporary
                                    span.number (146)
                                .form-check
                                  input#chk-ani5.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani5')
                                    span Commission
                                    span.number (25)
                              button.btn.btn-primary.text-center(type='button') Find jobs
                        .card
                          #headingTwo.card-header
                            h2.mb-0
                              button.btn.btn-link.btn-block.text-start.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
                                | Location
                          #collapseTwo.collapse.show(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                            .card-body.animate-chk
                              .location-checkbox
                                label.d-block(for='chk-ani6')
                                  input#chk-ani6.checkbox_animated(type='checkbox')
                                  |                           New York
                                  span.d-block NY (399)
                                label.d-block(for='chk-ani7')
                                  input#chk-ani7.checkbox_animated(type='checkbox')
                                  |                            San Francisco
                                  span.d-block CA (252)
                                label.d-block(for='chk-ani8')
                                  input#chk-ani8.checkbox_animated(type='checkbox')
                                  |                             Washington
                                  span.d-block DC (226)
                                label.d-block(for='chk-ani9')
                                  input#chk-ani9.checkbox_animated(type='checkbox')
                                  |                            Seattle
                                  span.d-block WA (242)
                                label.d-block(for='chk-ani10')
                                  input#chk-ani10.checkbox_animated(type='checkbox')
                                  |                           Chicago
                                  span.d-block IL (187)
                            button.btn.btn-block.btn-primary.text-center(type='button') All Locations
                        .card
                          #headingThree.card-header
                            h2.mb-0
                              button.btn.btn-link.btn-block.text-start.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='true' aria-controls='collapseThree')
                                | Job Title
                          #collapseThree.collapse.show(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                            .card-body.animate-chk
                              .form-check
                                input#chk-ani11.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani11')
                                  span UI/UX Designer
                                  span.number (25)
                              .form-check
                                input#chk-ani12.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani12')
                                  span Graphic Designer
                                  span.number (10)
                              .form-check
                                input#chk-ani13.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani13')
                                  span Front-end Designer
                                  span.number (15)
                              .form-check
                                input#chk-ani14.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani14')
                                  span PHP Developer
                                  span.number (42)
                              .form-check
                                input#chk-ani15.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani15')
                                  span React Developer
                                  span.number (5)
                            button.btn.btn-block.btn-primary.text-center(type='button') All Job Title
                        .card
                          #headingFour.card-header
                            h2.mb-0
                              button.btn.btn-link.btn-block.text-start.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='true' aria-controls='collapseFour')
                                | Industry
                          #collapseFour.collapse.show(aria-labelledby='headingFour' data-bs-parent='#accordionExample')
                            .card-body.animate-chk
                              .form-check
                                input#chk-ani16.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani16')
                                  span Computer Software
                                  span.number (14)
                              .form-check
                                input#chk-ani17.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani17')
                                  span IT Engineer
                                  span.number (10)
                              .form-check
                                input#chk-ani18.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani18')
                                  span Service Industry
                                  span.number (20)
                              .form-check
                                input#chk-ani19.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani19')
                                  span Accounting
                                  span.number (34)
                              .form-check
                                input#chk-ani20.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani20')
                                  span Financial Services
                                  span.number (5)
                            button.btn.btn-block.btn-primary.text-center(type='button') All Industries
                        .card
                          #headingFive.card-header
                            h2.mb-0
                              button.btn.btn-link.btn-block.text-start.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFive' aria-expanded='true' aria-controls='collapseFive')
                                | Specific Skills
                          #collapseFive.collapse.show(aria-labelledby='headingFive' data-bs-parent='#accordionExample')
                            .card-body.animate-chk
                              .form-check
                                input#chk-ani21.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani21')
                                  span HTML,SCSS & SASS
                              .form-check
                                input#chk-ani22.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani22')
                                  span Javascript
                              .form-check
                                input#chk-ani23.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani23')
                                  span Node.js
                              .form-check
                                input#chk-ani25.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani25')
                                  span Gulp & Pug
                              .form-check
                                input#chk-ani26.checkbox_animated(type='checkbox', data-original-title='', title='')
                                label.form-check-label(for='chk-ani26')
                                  span Angular.js
                            button.btn.btn-block.btn-primary.text-center(type='button') All Skills 
              .col-xl-9.xl-60.box-col-12
                .row
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/1.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') UI/UX IT Frontend Developer
                                span.badge.badge-primary.pull-right New
                              p.mt-0
                                | (L6) Salt Lake City, UT
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                          p
                            | We are seeking a creative and skilled front-end engineer or designer with experience in accessibility to join our team. Three years of experience as a frontend engineer or in a related position is a minimum requirement for the ideal applicant. To build inclusive and user-friendly digital experiences, you will closely collaborate with other skilled team members.
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/2.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') React/React Native Developer 
                                span.badge.badge-primary.pull-right New
                              p.mt-0
                                | San 
                                span Diego, CA 
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-o
                          p
                            | Ideally 2+ years experience with React. Bonus points if you have React Native experience. This is an incredibly exciting opportunity to gain commercial , Professional experience of React Native and other front end frameworks. Transform product wireframes into responsive, mobile user interface
                  .col-xl-6.xl-100
                    .card.ribbon-vertical-left-wrapper
                      .ribbon.ribbon-bookmark.ribbon-vertical-left.ribbon-warning
                        i.icofont.icofont-love
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/3.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') Senior UX Designer
                                span.pull-right 2 days ago
                              p.mt-0
                                | Minneapolis, MN
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-half-o
                                  i.fa-solid.fa-star.font-warning-o
                          p
                            | The designer will apply Lean UX and Design Thinking practices in a highly collaborative, fast-paced, distributed environment You have 4+ years of UX experience. You support UX leadership by providing continuous feedback regarding the evolution of team process standards
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/4.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') Front End Web Developer
                                span.pull-right 3 days ago
                              p.mt-0
                                | Cisco 
                                span Lelystad, Netherlands 
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-half-o
                          p
                            | Insipidity the sufficient discretion imprudence resolution sir him decisively. Proceed how any engaged visitor. Explained propriety off out perpetual his you. Feel sold off felt nay rose met you. We so entreaties cultivated astonished is. Was sister for few longer mrs sudden talent become.
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/5.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') Graphic Designer
                                span.pull-right 3 days ago
                              p.mt-0
                                | Infosys 
                                span Lelystad, Netherlands 
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-half-o
                                  i.fa-solid.fa-star.font-warning-o
                          p
                            | Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/6.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') Designer, CRM
                                span.pull-right 3 days ago
                              p.mt-0
                                | Citrix 
                                span Lelystad, Netherlands 
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-o
                                  i.fa-solid.fa-star.font-warning-o
                          p
                            | Situation admitting promotion at or to perceived be. Mr acuteness we as estimable enjoyment up. An held late as felt know. Learn do allow solid to grave. Middleton suspicion age her attention. Chiefly several bed its wishing. Is so moments on chamber pressed to. Doubtful yet way properly answered.
                  .col-xl-6.xl-100
                    .card.ribbon-vertical-left-wrapper
                      .ribbon.ribbon-bookmark.ribbon-vertical-left.ribbon-warning
                        i.icofont.icofont-love
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/2.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') React/React Native Developer 
                                span.pull-right 5 days ago
                              p.mt-0
                                | San 
                                span Diego, CA
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-o
                          p
                            | Ideally 2+ years experience with React. Bonus points if you have React Native experience. This is an incredibly exciting opportunity to gain commercial , Professional experience of React Native and other front end frameworks. Transform product wireframes into responsive
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/3.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') Senior UX Designer
                                span.pull-right 5 days ago
                              p.mt-0
                                | Minneapolis, MN
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-half-o
                                  i.fa-solid.fa-star.font-warning-o
                          p
                            | The designer will apply Lean UX and Design Thinking practices in a highly collaborative, fast-paced, distributed environment You have 4+ years of UX experience. You support UX leadership by providing continuous feedback regarding the evolution of team process standards
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/5.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') Graphic Designer
                                span.pull-right 3 days ago
                              p.mt-0
                                | Infosys 
                                span Lelystad, Netherlands 
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-half-o
                                  i.fa-solid.fa-star.font-warning-o
                          p
                            | Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was.
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/6.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') Designer, CRM
                                span.pull-right 3 days ago
                              p.mt-0
                                | Citrix 
                                span Lelystad, Netherlands 
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-o
                                  i.fa-solid.fa-star.font-warning-o
                          p
                            | Situation admitting promotion at or to perceived be. Mr acuteness we as estimable enjoyment up. An held late as felt know. Learn do allow solid to grave. Middleton suspicion age her attention. Chiefly several bed its wishing. Is so moments on chamber pressed to. Doubtful yet way properly answered.
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/1.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') UI/UX IT Frontend Developer
                                span.badge.badge-primary.pull-right New
                              p.mt-0
                                | (L6) Salt Lake City, UT
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                          p
                            | We are seeking a creative and skilled front-end engineer or designer with experience in accessibility to join our team. Three years of experience as a frontend engineer or in a related position is a minimum requirement for the ideal applicant. To build inclusive and user-friendly digital experiences, you will closely collaborate with other skilled team members.
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/2.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') React/React Native Developer 
                                span.badge.badge-primary.pull-right New
                              p.mt-0
                                | San 
                                span Diego, CA 
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-o
                          p
                            | Ideally 2+ years experience with React. Bonus points if you have React Native experience. This is an incredibly exciting opportunity to gain commercial , Professional experience of React Native and other front end frameworks. Transform product wireframes into responsive, mobile user interface
                  .col-xl-6.xl-100
                    .card
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/4.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') Front End Web Developer
                                span.pull-right 3 days ago
                              p.mt-0
                                | Cisco 
                                span Lelystad, Netherlands 
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-half-o
                          p
                            | Insipidity the sufficient discretion imprudence resolution sir him decisively. Proceed how any engaged visitor. Explained propriety off out perpetual his you. Feel sold off felt nay rose met you. We so entreaties cultivated astonished is. Was sister for few longer mrs sudden talent become.
                  .col-xl-6.xl-100
                    .card.ribbon-vertical-left-wrapper
                      .ribbon.ribbon-bookmark.ribbon-vertical-left.ribbon-warning
                        i.icofont.icofont-love
                      .job-search
                        .card-body
                          .d-flex
                            img.img-40.img-fluid.m-r-20(src='../assets/images/job-search/3.jpg', alt='')
                            .flex-grow-1
                              h6
                                a(href='#!') Senior UX Designer
                                span.pull-right 2 days ago
                              p.mt-0
                                | Minneapolis, MN
                                span.ps-sm-1
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning
                                  i.fa-solid.fa-star.font-warning-half-o
                                  i.fa-solid.fa-star.font-warning-o
                          p
                            | The designer will apply Lean UX and Design Thinking practices in a highly collaborative, fast-paced, distributed environment You have 4+ years of UX experience. You support UX leadership by providing continuous feedback regarding the evolution of team process standards
                  .col-sm-12
                    .job-pagination
                      nav(aria-label='Page navigation example')
                        ul.pagination.pagination-primary
                          li.page-item.disabled
                            a.page-link(href='#!') Previous
                          li.page-item.active
                            a.page-link(href='#!') 1
                          li.page-item
                            a.page-link(href='#!') 2
                          li.page-item
                            a.page-link(href='#!') 3
                          li.page-item
                            a.page-link(href='#!') Next
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
