- var page_Title = 'Product List';
- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var scrollbar             = true;
- var select_dt             = true;
- var datatable             = true;
- var page_datatable        = true;
- var sweetalert2           = true;
- var range_slider          = true;
- var page_range_slider     = true;
- var trash_popup           = true;
- var color_selector        = true;

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-sm-6
                  h3 
                    | Product List
                .col-sm-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Ecommerce
                    li.breadcrumb-item.active Product List
          // Container-fluid starts
          .container-fluid.list-product-view.product-wrapper
            .row 
              .col-sm-12 
                .row.g-3
                  .col-md-3.col-sm-6
                    .product-sidebar
                      .filter-section
                        .card
                          .card-header
                            h6.mb-0.f-w-600
                              | Filters
                              span.pull-right
                                i.fa.fa-chevron-down.toggle-data
                          .left-filter
                            .card-body.filter-cards-view.animate-chk
                              .product-filter
                                h6.f-w-600 Category
                                .checkbox-animated.mt-0
                                  label.d-block(for='edo-ani5')
                                    input#edo-ani5.radio_animated(type='radio', data-original-title='', title='')
                                    | Laptops
                                  label.d-block(for='edo-ani6')
                                    input#edo-ani6.radio_animated(type='radio', data-original-title='', title='')
                                    | Smart Phones
                                  label.d-block(for='edo-ani7')
                                    input#edo-ani7.radio_animated(type='radio', data-original-title='', title='')
                                    | Electric
                                  label.d-block(for='edo-ani8')
                                    input#edo-ani8.radio_animated(type='radio', data-original-title='', title='')
                                    | E-commerce
                                  label.d-block(for='edo-ani9')
                                    input#edo-ani9.radio_animated(type='radio', data-original-title='', title='')
                                    | Furniture
                              .product-filter
                                h6.f-w-600 Brand
                                .checkbox-animated.mt-0
                                  label.d-block(for='chk-ani')
                                    input#chk-ani.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    |  Apple
                                  label.d-block(for='chk-ani1')
                                    input#chk-ani1.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    | Samsung
                                  label.d-block(for='chk-ani2')
                                    input#chk-ani2.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    | Philips
                                  label.d-block(for='chk-ani3')
                                    input#chk-ani3.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    | Motorola
                                  label.d-block(for='chk-ani4')
                                    input#chk-ani4.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    | Amazon
                                  label.d-block(for='chk-ani5')
                                    input#chk-ani5.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    | Wayfair
                              .product-filter.slider-product
                                h6.f-w-600 Colors
                                .color-selector
                                  ul.d-flex.gap-1
                                    li.white
                                    li.black
                                    li.orange
                                    li.green
                                    li.pink
                                    li.yellow
                                    li.blue
                                    li.red
                              .product-filter.pb-0.product-range
                                h6.f-w-600 Price
                                input#u-range-03(type='text')
                              .product-filter 
                                h6.f-w-600 Discount
                                .checkbox-animated.mt-0
                                  .form-check
                                    input#chk-ani6.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for="chk-ani6") 
                                      span.name upto 5%
                                      span.number (06)
                                  .form-check
                                    input#chk-ani7.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani7')
                                      span.name 5% - 10%
                                      span.number (12)
                                  .form-check
                                    input#chk-ani8.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani8')
                                      span.name 10% - 15%
                                      span.number (20)
                                  .form-check
                                    input#chk-ani9.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani9')
                                      span.name  15% - 25%
                                      span.number (22)
                                  .form-check
                                    input#chk-ani10.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani10')
                                      span.name More than 25%
                                      span.number (24)
                              .product-filter 
                                h6.f-w-600 Rating
                                .checkbox-animated.mt-0.product-rate
                                  .form-check
                                    input#chk-ani11.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani11')
                                      span.common-flex
                                        i.fa-solid.fa-star.fill
                                        i.fa-solid.fa-star.fill
                                        i.fa-solid.fa-star.fill
                                        i.fa-solid.fa-star.fill
                                        i.fa-solid.fa-star.fill
                                      span.number (5 Star)
                                  .form-check
                                    input#chk-ani12.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani12')
                                      span.common-flex
                                        i.fa-solid.fa-star.fill
                                        i.fa-solid.fa-star.fill
                                        i.fa-solid.fa-star.fill
                                        i.fa-solid.fa-star.fill
                                        i.fa-regular.fa-star.fill
                                      span.number (4 Star)
                                  .form-check
                                    input#chk-ani13.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani13')
                                      span.common-flex
                                        i.fa-solid.fa-star.fill
                                        i.fa-solid.fa-star.fill
                                        i.fa-solid.fa-star.fill
                                        i.fa-regular.fa-star.fill
                                        i.fa-regular.fa-star.fill
                                      span.number (3 Star)
                                  .form-check
                                    input#chk-ani14.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani14')
                                      span.common-flex
                                        i.fa-solid.fa-star.fill
                                        i.fa-solid.fa-star.fill
                                        i.fa-regular.fa-star.fill
                                        i.fa-regular.fa-star.fill
                                        i.fa-regular.fa-star.fill
                                      span.number (2 Star)
                                  .form-check
                                    input#chk-ani15.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani15')
                                      span.common-flex
                                        i.fa-solid.fa-star.fill
                                        i.fa-regular.fa-star.fill
                                        i.fa-regular.fa-star.fill
                                        i.fa-regular.fa-star.fill
                                        i.fa-regular.fa-star.fill
                                      span.number (1 Star)
              .col-12
                .card
                  .card-header.card-no-border.text-end
                    .card-header-right-icon
                      a.btn.btn-primary.f-w-500(href="add-products.html")
                        i.fa.fa-plus.pe-2
                        | Add Products
                  .card-body.px-0.pt-0
                    .list-product
                      .recent-table.table-responsive.custom-scrollbar.product-list-table
                        table#product-list-view.table
                          thead 
                            tr 
                              th
                              th 
                                span.c-o-light.f-w-600 Product Name
                              th 
                                span.c-o-light.f-w-600 SKU
                              th 
                                span.c-o-light.f-w-600 Category
                              th 
                                span.c-o-light.f-w-600 Price
                              th 
                                span.c-o-light.f-w-600 Qty
                              th 
                                span.c-o-light.f-w-600 Status
                              th 
                                span.c-o-light.f-w-600 Rating
                              th 
                                span.c-o-light.f-w-600 Action

                          tbody 
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/product-categories/laptop.png", alt="laptop")
                                  a(href="product-details.html") Apple Desktop 2024
                              td 
                                p.c-o-light 02145YK796
                              td  
                                p.c-o-light Electric
                              td 
                                p.c-o-light 56000.00
                              td 
                                p.c-o-light 13
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/product-categories/phone.png", alt="phone")
                                  a(href="product-details.html") Apple Iphone 13 pro
                              td 
                                p.c-o-light 56379FG3AW
                              td  
                                p.c-o-light Smart Phones    
                              td 
                                p.c-o-light 25000.00
                              td 
                                p.c-o-light 15
                              td 
                                span.badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/product/accessories/07.png", alt="washing machine")
                                  a(href="product-details.html") Wool Washing Machine
                              td 
                                p.c-o-light 33KR5689B1
                              td  
                                p.c-o-light Electric   
                              td 
                                p.c-o-light 55000.00
                              td 
                                p.c-o-light 5
                              td 
                                .badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/product-categories/wireless-headphone.png", alt="wireless headphone")
                                  a(href="product-details.html") Wireless Ear Buds
                              td 
                                p.c-o-light AD6789HEY0
                              td  
                                p.c-o-light Electric
                              td 
                                p.c-o-light 15000.00
                              td 
                                p.c-o-light 4
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-2/order/sub-product/16.png", alt="purse")
                                  a(href="product-details.html") Leather Handbag
                              td 
                                p.c-o-light 456DF78DFQ
                              td  
                                p.c-o-light Accessories       
                              td 
                                p.c-o-light 1100.00
                              td 
                                p.c-o-light 2
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/email-template/3.png", alt="chairs")
                                  a(href="product-details.html") Arm Chair
                              td 
                                p.c-o-light 5633GD3K54
                              td  
                                p.c-o-light Furniture       
                              td 
                                p.c-o-light 1000.00
                              td 
                                p.c-o-light 8
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/product-categories/ipad.png", alt="mac laptop")
                                  a(href="product-details.html") MacBook Air 13.3-inch
                              td 
                                p.c-o-light 589KO8PPQ8
                              td  
                                p.c-o-light Electric         
                              td 
                                p.c-o-light 45000.00
                              td 
                                p.c-o-light 10
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/product-categories/mouse.png", alt="mouse")
                                  a(href="product-details.html") M185 Compact Wireless Mouse
                              td 
                                p.c-o-light 02145YK796
                              td  
                                p.c-o-light Electric       
                              td 
                                p.c-o-light 56000.00
                              td 
                                p.c-o-light 13
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-2/order/sub-product/25.png", alt="comfortable chair")
                                  a(href="product-details.html") Comfortable Chair
                              td 
                                p.c-o-light 568GH3LLQ2
                              td  
                                p.c-o-light Furniture 
                              td 
                                p.c-o-light 78000.00
                              td 
                                p.c-o-light 50
                              td 
                                .badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/shop-categories/watch.png", alt="watch")
                                  a(href="product-details.html") Sport Watch
                              td 
                                p.c-o-light 58FR7K34F6
                              td  
                                p.c-o-light Electric         
                              td 
                                p.c-o-light 25000.00
                              td 
                                p.c-o-light 48
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/product-categories/dvd.png", alt="DVD")
                                  a(href="product-details.html") DVD
                              td 
                                p.c-o-light HG5667DFQ1
                              td  
                                p.c-o-light Electric      
                              td 
                                p.c-o-light 5600.00
                              td 
                                p.c-o-light 10
                              td 
                                span.badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/product-categories/speaker.png", alt="speakers")
                                  a(href="product-details.html") Speakers
                              td 
                                p.c-o-light 02145YK796
                              td  
                                p.c-o-light Electric
                              td 
                                p.c-o-light 12200.00
                              td 
                                p.c-o-light 50
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/product/accessories/01.png", alt="Grinder")
                                  a(href="product-details.html") Bajaj Grinder Jar
                              td 
                                p.c-o-light 56379FG3AW
                              td  
                                p.c-o-light Electric
                              td 
                                p.c-o-light 19000.00
                              td 
                                p.c-o-light 48
                              td 
                                span.badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/product/accessories/02.png", alt="headphones")
                                  a(href="product-details.html") Golden Headphone
                              td 
                                p.c-o-light 33KR5689B1
                              td  
                                p.c-o-light Smart Headphones  
                              td 
                                p.c-o-light 18000.00
                              td 
                                p.c-o-light 5
                              td 
                                span.badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-2/order/sub-product/14.png", alt="shoes")
                                  a(href="product-details.html") Pixel Shoes
                              td 
                                p.c-o-light 568GH3LLQ2
                              td  
                                p.c-o-light Accessories
                              td 
                                p.c-o-light 7800.00
                              td 
                                p.c-o-light 20
                              td 
                                span.badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/product-categories/watch.png", alt="watch")
                                  a(href="product-details.html") Smart Watch
                              td 
                                p.c-o-light 58FR7K34F6
                              td  
                                p.c-o-light Electric         
                              td 
                                p.c-o-light 25000.00
                              td 
                                p.c-o-light 48
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/shop-categories/phone.png", alt="i-phone")
                                  a(href="product-details.html") Apple Iphone 14 pro
                              td 
                                p.c-o-light 56379FG3AW
                              td  
                                p.c-o-light Smart Phones    
                              td 
                                p.c-o-light 19000.00
                              td 
                                p.c-o-light 48
                              td 
                                span.badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/product-categories/headphone.png", alt="headphones")
                                  a(href="product-details.html") Headphones
                              td 
                                p.c-o-light 33KR5689B1
                              td  
                                p.c-o-light Smart Headphones       
                              td 
                                p.c-o-light 10000.00
                              td 
                                p.c-o-light 5
                              td 
                                span.badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/shop-categories/speaker.png", alt="speaker")
                                  a(href="product-details.html") Wireless Speaker
                              td 
                                p.c-o-light AD6789HEY0
                              td  
                                p.c-o-light Electric
                              td 
                                p.c-o-light 15000.00
                              td 
                                p.c-o-light 4
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-2/product/1.png", alt="chair")
                                  a(href="product-details.html") Wood Chair
                              td 
                                p.c-o-light 456DF78DFQ
                              td  
                                p.c-o-light Furniture         
                              td 
                                p.c-o-light 99000.00
                              td 
                                p.c-o-light 2
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/email-template/3.png", alt="chairs")
                                  a(href="product-details.html") Wood Chair
                              td 
                                p.c-o-light 5633GD3K54
                              td  
                                p.c-o-light Furniture       
                              td 
                                p.c-o-light 1000.00
                              td 
                                p.c-o-light 8
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/shop-categories/camera.png", alt="camera")
                                  a(href="product-details.html") Smart Camera
                              td 
                                p.c-o-light 02145YK796
                              td  
                                p.c-o-light Electric
                              td 
                                p.c-o-light 56000.00
                              td 
                                p.c-o-light 13
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/product/accessories/05.png", alt="wallet")
                                  a(href="product-details.html") Wallet
                              td 
                                p.c-o-light 56379FG3AW
                              td  
                                p.c-o-light Accessories
                              td 
                                p.c-o-light 19000.00
                              td 
                                p.c-o-light 48
                              td 
                                span.badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/product/accessories/03.png", alt="beauty blender")
                                  a(href="product-details.html") Beauty Blender
                              td 
                                p.c-o-light 33KR5689B1
                              td  
                                p.c-o-light Make-up      
                              td 
                                p.c-o-light 10000.00
                              td 
                                p.c-o-light 5
                              td 
                                span.badge.badge-light-primary In Stock
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/product/accessories/08.png", alt="projector")
                                  a(href="product-details.html") Projector
                              td 
                                p.c-o-light AD6789HEY0
                              td  
                                p.c-o-light Electric
                              td 
                                p.c-o-light 15000.00
                              td 
                                p.c-o-light 4
                              td 
                                span.badge.badge-light-secondary Sold Out 
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-2/order/sub-product/15.png", alt="sofa")
                                  a(href="product-details.html") Comfortable Sofa
                              td 
                                p.c-o-light 456DF78DFQ
                              td  
                                p.c-o-light Furniture         
                              td 
                                p.c-o-light 99000.00
                              td 
                                p.c-o-light 2
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/dashboard-8/shop-categories/mouse.png", alt="green wireless mouse")
                                  a(href="product-details.html") Green Wireless Mouse
                              td 
                                p.c-o-light AD6789HEY0
                              td  
                                p.c-o-light Electric 
                              td 
                                p.c-o-light 15000.00
                              td 
                                p.c-o-light 4
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-regular.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
                            tr.product-removes
                              td
                              td 
                                .product-names
                                  .light-product-box
                                    img.img-fluid(src="../assets/images/product/accessories/06.png", alt="study lamp")
                                  a(href="product-details.html") Study Lamp
                              td 
                                p.c-o-light 456DF78DFQ
                              td  
                                p.c-o-light Electric       
                              td 
                                p.c-o-light 99000.00
                              td 
                                p.c-o-light 2
                              td 
                                span.badge.badge-light-secondary Sold Out
                              td 
                                .rating
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                                  i.fa-solid.fa-star.txt-warning
                              td 
                                .product-action
                                  a.square-white(href="add-products.html") 
                                    svg     
                                      use(href="../assets/svg/icon-sprite.svg#edit-content")
                                  a.square-white.trash-3(href="#!") 
                                    svg
                                      use(href="../assets/svg/icon-sprite.svg#trash1")
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
